<ul>
  <% @lists.each do |list| %>
 <li><%= link_to list.name, list_path(list) %></li>
 <li><%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %></li>
  <% end %>
</ul>

<%= link_to "Add new list", new_list_path(@list) %>
